---
layout: page
title: "Publications"
permalink: /publications/
---

<p class="paper__authors">
  Selected publications below. See
  <a href="https://scholar.google.com/citations?user=hdyKNLYAAAAJ">Google Scholar</a>
  for the complete list.
  <sup>*</sup> denotes equal contribution.
</p>

{% include papers.html section="preprints" title="Preprints &amp; Under Submission" %}
{% include papers.html section="conference" title="Conference Papers" %}
{% include papers.html section="journal" title="Journal Papers" %}
